<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styleLogin.css">
    <title>Cadastro</title>
</head>
<body>

<div class="container">
    <form method="post">
        <input class="meta" name="email" type="email" value="" placeholder="Digite seu email">
        <input class="meta" name="senha" type="password" value="" placeholder="Password">

        <button  class="btn" type="submit">Cadastar</button>
    </form>
</div>

</body>
</html>