<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styleLogin.css">
    <link rel="stylesheet" href="../styleLogin.css">
    
    <title>Votar</title>
</head>
<body>

<div class="cont">
            
            <div class="cad">
            <section class="circ">
                <h1 class="titulo">Le Jardin</h1>
                <form method="post"><input class="voto" type="text" value="1" name="lejardin">
                    <button type="submit" class="btn-votar">Votar</button></form>
            
            </section>
        </div>

        <div class="cad">
            <section class="circ">
            <h1 class="titulo">Evian</h1>
            <form method="post"><input class="voto" type="text" value="2" name="evian">
                <button type="submit" class="btn-votar">Votar</button></form>
            
            </section>
        </div>
        <div class="cad">
            <section class="circ">
            <h1 class="titulo">Olímpia Thermas</h1>
            <form method="post"><input class="voto" type="text" value="3" name="olimpia">
                <button type="submit" class="btn-votar">Votar</button>
            </form>
            
            </section>
        </div>


</div>





</body>
</html>